*.dll
*.pdb
Axosoft.Core/bin/Debug/Axosoft.Core.dll.config
Axosoft.Core/bin/Debug/Axosoft.Core.dll.config
Axosoft.Core/bin/Debug/GalaSoft.MvvmLight.Extras.xml
Axosoft.Core/bin/Debug/GalaSoft.MvvmLight.Extras.xml